@model IEnumerable<VentasAPP.Models.Producto>

@{
    ViewData["Title"] = "Lista de Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Crear Nuevo Producto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detalle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disponible)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Detalle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Disponible)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.idproducto">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.idproducto">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.idproducto">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div style="margin-top: 20px;">
    <a asp-action="ExportToPdf" class="btn btn-danger">Exportar a PDF</a> |
    <a asp-action="ExportToExcel" class="btn btn-success">Exportar a Excel</a>
</div>